#mainNav {
  min-height: 56px;
  background-color: $white;

  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: 0.5rem 0;
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }

      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 300ms ease;

    .navbar-brand {
      padding: 0.5rem 0;
      color: fade-out($white, 0.3);

      i {
        opacity: 0;
        transition: opacity 300ms ease;
      }
    }

    .nav-link {
      transition: none;
      padding: 2rem 1.5rem 1.25rem;
      color: fade-out($white, 0.3);
      border-bottom: 0.25rem solid transparent;
      transition: color 250ms ease;

      &:hover {
        color: fade-out($white, 0.15);
      }

      &:active {
        color: white;
      }
    }

    &.navbar-shrink {
      background-color: $white;

      .navbar-brand {
        color: $black;

        i {
          opacity: 1;
        }
      }

      .nav-link {
        color: $black;

        &:hover {
          color: $primary;
        }

        &:active {
          color: darken($primary, 15%);
        }

        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
      }
    }
  }
}
